<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="src.test.java">
    <listeners>
        <listener class-name="Listeners.testngListeners"/>
    </listeners>
    <test name="ITestReporter" preserve-order="true">
        <classes>
            <class name="test.AssignmentTest"/>
        </classes>
    </test>
</suite>
